{% extends "base.html" %}
{% block content %}

<section class="team-section">
    <div class="container">

        <!-- Title -->
        <h2 class="team-title">
            आमचे <span>नेतृत्व</span>
        </h2>

    
        <!-- Team Grid -->
        <div class="team-grid">

            <!-- Member 1 -->
            <div class="team-card">
                <div class="avatar">श्री</div>
                <h3>श्री. बाबू आर. पवार</h3>
                <p>(आई फाउंडेशन संस्थापक अध्यक्ष)</p>
            </div>

            <!-- Member 2 -->
            <div class="team-card">
                <div class="avatar">सौ</div>
                <h3>सौ. मेघना प्रवीण पवार</h3>
                <p>(आई फाउंडेशन संस्थापक सचिव)</p>
            </div>

            <!-- Member 3 -->
            <div class="team-card">
                <div class="avatar">कु</div>
                <h3>कु.क्षितिज संभाजी दोरुगडे</h3>
                <p>(आई फाउंडेशन संस्थापक खजिनदार)</p>
            </div>

            <!-- Member 4 -->
            <div class="team-card">
                <div class="avatar">श्री</div>
                <h3>श्री. महेश चव्हाण</h3>
                <p>(आई फाउंडेशन संस्थापक सभासद)</p>
            </div>

            <!-- Member 5 -->
            <div class="team-card">
                <div class="avatar">श्री</div>
                <h3>श्री. श्रीकांत जगदाळे</h3>
                <p>(आई फाउंडेशन संस्थापक सभासद)p>
            </div>

            <!-- Member 6 -->
            <div class="team-card">
                <div class="avatar">श्री</div>
                <h3>श्री. महेंद्र पवार</h3>
                <p>(आई फाउंडेशन संस्थापक सभासद)p>
            </div>

        </div>

    </div>
</section>

{% endblock %}